// Default style for text

h1 {
  color: #fc750f;
  margin: 40px 0;
}

h2 {
  color: #E5E5E5;
  margin: 50px 0;
}

h3 {
  color: #E5E5E5;
  margin: 40px 0;
}

p {
  color: #E5E5E5;
  font-weight: 300;
}

.background-playground {
  background-color: #111111;
}
